<response ng-if="res" response="res"></response>

<div class="card">
  <h1 class="card-header">Reset Password</h1>
  <form name="resetForm" ng-submit="resetPassword()">
    <fieldset>
      <input type="email" ng-model="email" id="email">
      <label for="email">Email</label>
      <div class="bar"></div>
    </fieldset>
    <button type="submit">Reset</button>
  </form>
  

</div>