@media screen and (max-width: 1024px) {
  .wrapper {
    width: 100%; }
  .response {
    width: calc(100% - 2rem); } }

@media screen and (min-width: 1025px) {
  .wrapper {
    width: 60%; }
  .response {
    width: 50%; } }

*,
*:after,
*:before {
  box-sizing: border-box; }

body {
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 18px;
  font-family: 'Roboto', 'Helvetica', sans-serif; }

button:focus {
  outline: none; }

.button, .main-navigation .reset, .main-navigation .login, .main-navigation .login-code, button[type="submit"] {
  border: 0;
  font-size: 1rem;
  margin: 0;
  padding: .5rem 1rem;
  text-decoration: none;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .button:hover, .main-navigation .reset:hover, .main-navigation .login:hover, .main-navigation .login-code:hover, button[type="submit"]:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer; }

.main-navigation {
  width: 100%;
  padding: .5rem;
  display: flex;
  align-items: center;
  background-color: #3f51b5;
  z-index: 1000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .main-navigation .link {
    margin: 0 1rem; }
  .main-navigation .reset {
    background-color: #ff9800;
    color: #ffffff; }
    .main-navigation .reset:hover {
      background-color: #ffb74d; }
  .main-navigation .login {
    background-color: #009688;
    color: #ffffff; }
    .main-navigation .login:hover {
      background-color: #26a69a; }
  .main-navigation .login-code {
    background-color: #ffc107;
    color: #000000; }
    .main-navigation .login-code:hover {
      background-color: #ffca28; }

.wrapper {
  width: 100%;
  height: 100%;
  flex: 1;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center; }

.card {
  max-width: 768px;
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-flow: column;
  align-items: center; }

.card-header {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-bottom: 2rem; }

form {
  width: 100%; }

fieldset {
  border: 0;
  display: flex;
  align-items: center;
  margin: 2rem 0;
  padding: 0;
  position: relative; }
  fieldset .bar {
    width: 100%;
    height: 2px;
    background-color: #cfd8dc;
    position: absolute;
    bottom: 0; }
    fieldset .bar:after {
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      bottom: 0;
      content: "";
      height: 2px;
      width: 0;
      background: #3f51b5;
      transition: width 200ms cubic-bezier(0.25, 0.8, 0.25, 1); }

input {
  background: none;
  border: 0;
  width: 100%;
  height: 36px;
  font-size: 1rem;
  padding-left: 5px; }
  input:focus {
    outline: none; }

label {
  transition: all 200ms cubic-bezier(0.25, 0.8, 0.25, 1);
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%); }

input:focus ~ .bar:after {
  width: 100%; }

input:focus ~ label,
input.valid ~ label {
  top: 0;
  font-size: .8rem;
  color: #3f51b5; }

button[type="submit"] {
  background-color: #ff9800;
  color: #ffffff; }

.response {
  min-width: 50%;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: .25rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .response .message {
    text-align: center;
    flex: 1; }
  .response.success {
    background-color: #4caf50;
    color: #ffffff; }
  .response.error {
    background-color: #f44336;
    color: #ffffff; }
  .response .dismiss {
    border: 0;
    height: 36px;
    width: 36px;
    font-size: 1.5rem;
    color: #ffffff;
    background: none;
    transition: all 200ms cubic-bezier(0.25, 0.8, 0.25, 1); }
    .response .dismiss:hover {
      background-color: rgba(255, 255, 255, 0.2);
      cursor: pointer; }
