<div class="card">
  <h1 class="card-header">Login via QR Code</h1>

  <form name="loginForm" ng-submit="getCode()">
    <fieldset>
      <input type="email" ng-model="model.email" id="email" required>
      <label for="email">Email</label>
      <div class="bar"></div>
    </fieldset>
    <button type="submit">Get Code</button>
  </form>

  <a href="#" ui-sref="login">Or use email and password</a>

  <img src="{{QRCode}}" ng-if="QRCode" class="qr-code"/>

</div>