<div class="card">
  <h1 class="card-header">Login</h1>

  <form name="loginForm" ng-submit="login()">

    <fieldset>
      <input type="email" ng-model="email" id="email" required>
      <label for="email">Email</label>
      <div class="bar"></div>
    </fieldset>

    <fieldset>
      <input type="password" ng-model="password" id="password">
      <label for="password">Password</label>
      <div class="bar"></div>
    </fieldset>
    <button type="submit">Login</button>
  </form>

  <a href="#" ui-sref="login-code" class="link-get-qr">Or scan QR Code</a>

</div>


<response ng-if="res" response="res"></response>