<div class="response {{response.data.success ? 'success' : 'error'}}">
  <p class="message" ng-if="response.data.success && response.data.action === 'reset-password'">New Password: {{response.data.payload.verification_code__c}}</p>
  <p class="message" ng-if="response.data.success && response.data.action === 'validate'">Successfully logged in</p>
  <p class="message" ng-if="!response.data.success">Something went wrong: {{response.data.errorMessage}}</p>
  <button class="dismiss" ng-click="dismiss()">&times;</button>
</div>